# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
env 
var

node_modules
dist
dist-ssr
files/css/business.css
files/css/steelers.css
files/css/links.css
files/steelers/css
files/steelers/js
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

_theme
.env
config/parameters.yml
docker/db/dumps/*.sql
vendor
assets/*/
!assets/css/
!assets/js/
booked_seats.json
public/bundles
public/.htaccess
public/index.php
public/preview.php
bin/
files/css
files/js
