.steelers_form {
  @apply bg-steelwhite px-8 py-10 border-gray-900/10 border-2;
}

.steelers_form fieldset {
  @apply grid grid-cols-6 gap-2 mb-8;
}

.steelers_form fieldset > legend {
  @apply col-span-12 font-headline text-steelgreen text-3xl;
}

@screen lg {
  .steelers_form fieldset > legend {
    @apply text-4xl;
  }
}

@screen lg {
  .steelers_form fieldset {
    @apply grid-cols-12;
  }
}

.steelers_form .invisible {
  @apply hidden;
}
.steelers_form .form-group {
  @apply relative mb-2;
}

.steelers_form .form-label {
  @apply static text-base text-gray-800 mb-2;
}

.steelers_form .form-input {
  @apply w-full p-2 border-none outline-none;
}

.steelers_form .form-input:focus {
  @apply border-steelgreen outline-steelgreen;
}

.steelers_form .form-input:focus + .steelers_form .form-label,
.steelers_form .form-input:not(:placeholder-shown) + .steelers_form .form-label {
  @apply static text-base text-gray-800;
}

.st0 {
  fill: #FFFFFF;
  stroke: #000000;
  stroke-miterlimit: 10;
}

.st1 {
  fill: #F9B233;
  stroke: #000000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  cursor: pointer;
}

.st1.active {
  fill: #046a38;
  stroke: #000000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
}

.st {
  fill: #000000;
  color: #000000;
  font-size: 6px;
  text-anchor: middle;
  dominant-baseline: middle;
  pointer-events: none;
}

.st2 {
  font-family: 'ArialNarrow';
}

.st3 {
  font-size: 8.1502px;
}

.st4 {
  fill: #DADADA;
}

.st5 {
  font-size: 13.5837px;
}

.st6 {
  fill: #FFED00;
  stroke: #000000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
}

.st7 {
  font-size: 5.4429px;
}

.st8 {
  fill: #1D71B8;
}

.st9 {
  fill: #E6007E;
}

.st10 {
  fill: #FFFFFF;
}

.st11 {
  font-size: 8.7086px;
}

.st12 {
  font-size: 7.62px;
}

.st13 {
  fill: #C6C6C6;
}

.st14 {
  font-size: 10.8857px;
}

.st15 {
  fill: #DADADA;
  stroke: #000000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
}

.st16 {
  font-size: 22px;
}