services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false
  App\:
    resource: ../src
    exclude: ../src/{Entity,Migrations,Model,Resources,Tests,Widget}

  App\Utils\:
    resource: ../src/Utils
    public: true

  App\Controller\:
    resource: ../src/Controller
    public: true
    tags: [controller.service_arguments]

  App\EventListener\LoadFormFieldListener:
    tags:
      - { name: contao.hook, hook: LoadFormFieldListener }

  App\EventListener\GeneratePageListener:
    tags:
      - { name: contao.hook, hook: generatePage }
    arguments:
      - "%mixpanel_project_token%"

  App\Controller\FrontendModule\NextGameModule:
    tags:
      - name: contao.frontend_module
        category: tilastot
        template: mod_nextgame
        type: nextgame
  App\Controller\FrontendModule\StandingsModule:
    tags:
      - name: contao.frontend_module
        category: tilastot
        template: mod_standings
        type: standings
  App\Controller\FrontendModule\RosterModule:
    tags:
      - name: contao.frontend_module
        category: tilastot
        template: mod_roster
        type: roster
  App\Controller\FrontendModule\ScorerModule:
    tags:
      - name: contao.frontend_module
        category: tilastot
        template: mod_scorer
        type: scorer
  App\Controller\FrontendModule\PlayerModule:
    tags:
      - name: contao.frontend_module
        category: tilastot
        template: mod_player
        type: player
  App\Controller\FrontendModule\CampsModule:
    tags:
      - name: contao.frontend_module
        category: tilastot
        template: mod_camps
        type: camps
  App\Controller\FrontendModule\BusToursModule:
    tags:
      - name: contao.frontend_module
        category: tilastot
        template: mod_bustours
        type: bustours
  App\Controller\FrontendModule\AuctionModule:
    tags:
      - name: contao.frontend_module
        category: tilastot
        template: mod_auction
        type: auction
  App\Controller\ContentElement\WrapperBlockStart:
    tags:
      - name: contao.content_element
        category: grid
        template: wrapper_block_start
        type: rowStart
  App\Controller\ContentElement\WrapperBlockEnd:
    tags:
      - name: contao.content_element
        category: grid
        template: wrapper_block_end
        type: rowEnd
