services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false
  App\:
    resource: ../src
    exclude: ../src/{Entity,Migrations,Model,Resources,Tests,Widget}

  App\Utils\:
    resource: ../src/Utils
    public: true

  App\Controller\:
    resource: ../src/Controller
    public: true
    tags: [controller.service_arguments]

  App\EventListener\LoadFormFieldListener:
    tags:
      - { name: contao.hook, hook: LoadFormFieldListener }

  App\EventListener\GeneratePageListener:
    tags:
      - { name: contao.hook, hook: generatePage }
    arguments:
      - "%mixpanel_project_token%"

  App\Controller\FrontendModule\ScorerModule:
    tags:
      - name: contao.frontend_module
        category: tilastot
        template: mod_scorer
        type: scorer
  App\Controller\FrontendModule\CampsModule:
    tags:
      - name: contao.frontend_module
        category: tilastot
        template: mod_camps
        type: camps
  App\Controller\FrontendModule\BusToursModule:
    tags:
      - name: contao.frontend_module
        category: tilastot
        template: mod_bustours
        type: bustours
  App\Controller\FrontendModule\AuctionModule:
    tags:
      - name: contao.frontend_module
        category: tilastot
        template: mod_auction
        type: auction

twig:
  globals:
    project_dir: '%kernel.project_dir%'