{% block content %}
<div class="basis-full lg:basis-1/2">
  <script>
    window.tilastot_standings = {{ standings|json_encode(constant('JSON_PRETTY_PRINT'))|raw }};
    window.tilastot_standings_team = '{{ my_team }}';
  </script>
  <div id="homestandings" class="h-full"></div>
</div>
{% endblock %}
