{% extends '@Contao/form_checkbox.html.twig' %}

{% block field %}
    {{ parent() }}
    <p><small>Der Teilnehmer erteilt hiermit dem Veranstalter, das unwiderrufliche Einverstaendnis, dass im Rahmen der Veranstaltung Bild-, Film-, und Tonaufnahmen des Teilnehmers fuer Werbezwecke im Internet und/oder Werbeflyern und Plakaten aufgenommen und diese uneingeschraenkt verwendet werden duerfen.<br>Eine Verguetung ist hierfuer mit der Teilnahme an der Veranstaltung abgegolten.<br>Die Verwertungsrechte der vorgenannten Bild-, Film-, und Tonaufnahmen liegen uneingeschraenkt beim Veranstalter.</small></p>
{% endblock %}
