{% extends '@Contao/form_checkbox.html.twig' %}

{% block field %}
    {{ parent() }}
    <p><small>Die Teilnahmebedingungen und die Datenschutzerklaerung erkenne/n ich/wir in ihrer jeweils gueltigen Form an. Mit Speicherung, Uebermittlung meiner/unserer Daten gemaess DSGVO zur Erfuellung der Zwecke und Aufgaben des Vereins bin ich/sind wir einverstanden. </small></p>
{% endblock %}
