{% extends 'form_row.html.twig' %}

{% block label %}
    {% if this.label %}
        <label for="ctrl_{{ this.id }}" class="block text-sm font-medium leading-6 text-gray-900">
            {{ this.label|insert_tag_raw }}{% if this.mandatory|default %}<span class="mandatory">*</span>{% endif %}
        </label>
    {% endif %}
{% endblock %}

{% block field %}
    {% if hasErrors.invoke() %}
        <p class="error">{{ getErrorAsString.invoke() }}</p>
    {% endif %}

    {% set inputAttributes = attrs(getAttributes.invoke()) %}
    {% set inputType = this.rgxp|default == 'date' ? 'date' : this.type %}

    <div class="mt-2">
        <div class="flex rounded-md shadow-sm sm:max-w-md">
            <input{{ attrs()
                .set('type', inputType)
                .set('name', this.name)
                .set('id', "ctrl_#{this.id}")
                .addClass('block flex-1 border-0 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 sm:text-sm sm:leading-6 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-steelgreen')
                .addClass('password', this.hideInput|default)
                .addClass(this.class|default)
                .set('value', this.value|default|insert_tag)
                .mergeWith(inputAttributes)
                .setIfExists('placeholder', inputAttributes.placeholder|default|insert_tag)
            }}>
        </div>
    </div>
{% endblock %}
