{% block content %}
{% for position, posPlayers in players %}
  {% if posPlayers is iterable %}
    {% for player in posPlayers %}
      {% if player.position != 'Staff' %}
        <div class="ce_hyperlink flex flex-col">
          <div class="">
            <div class="uppercase text-center">{{ player.lastname }}</div>
            <div class="text-center text-5xl font-headline font-bold text-steelgreen">{{ player.jersey }}</div>
          </div>
          <div class="text-center font-bold">
            {{ player.warmuppartner }}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}
{% endblock %}
