{% extends '@Contao/content_element/_base.html.twig' %}

{% block content %}
  <div class="">
		<div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-5 lg:gap-8">
      {% for fragment in nested_fragments %}
          {{ content_element(fragment) }}
      {% endfor %}
    </div>
  </div>
{% endblock %}
